adafruit-circuitpython-dht
feedparser
flake8
freezegun
google-cloud-texttospeech
ipython
num2words
pip-tools
pydub
PyQt5-sip
PyQt5==5.15.10
pyqtspinner
pytest
pytest-xvfb
python-dateutil
pyyaml
requests