QLCDNumber {
  color: #FF1414;
  font-weight: bold;
  border: 0px;
}

AlarmWindow QLabel {
  color: #FF1414;
  font: 18pt;
}

MediaPlayerWindow QLabel {
  color: #FF1414;
  font: 18pt;
}

AlarmWindow, MediaPlayerWindow {
  background-color: #090201;
}

AlarmWindow QLabel#date_label {
  font: 16pt;
  margin-top: 10px;
}

SettingsWindow QLabel#input_alarm_time_label {
  font: 14pt;
}

SettingsWindow QLabel#alarm_time_status_label {
  font: 12pt;
  margin-top: 10px;
  margin-bottom: 15px;

}

MediaPlayerWindow QPushButton {
  background-color: #090201;
  color: #FF1414;
  font: 18pt;
  margin: 0px
}

QSlider::groove:horizontal {
  background: #DDDDDD;
  border: 1px solid #999999;
  border-radius: 5px;
  height: 8px;
}

QSlider::sub-page:horizontal {
  background: #7da4bdff;
  border-radius: 5px;
}

QSlider::handle:horizontal {
  background: #6b90cb;
  border: 1px solid #6b90cb;
  width: 30px;
  height: 48px;
  border-radius: 12px;
  margin-top: -20px;
  margin-bottom: -20px;
}

QCheckBox::indicator {
  width: 25px;
  height: 25px;
 }

 SettingsWindow QPushButton#numpad_button {
  font: 12pt;
}